doctype html
html(lang="en")
  head
    meta(name=viewport content="width=device-width")
    title Cramond Island Causeway Crosssing
    style(type='text/css').
      *{margin:0;padding:0;box-sizing:border-box;font:400 100% sans-serif;}
      body {text-align:center;font-size:36px;}
      header {padding:0;position:fixed;top:0;left:0;right:0;height:4em;z-index:3;background: #222;}
      .title-bar {width:100%;padding:0 4%;height:4em;text-align:left;}
      .title-bar h1 {font-size:1.5em;color:#fff;text-align:left;padding-top:.5em;}
      .title-bar h1 small {font-size:.5em;display: block}
      .header-day {padding:0;position:fixed;top:4em;left:0;right:0;height:5.5em;z-index:2;background: #fff;}
      .header-day h1 {padding:.5em 0 0 0;font-size: 1.6em;}
      .clock {width:auto;display:block;position:relative;top:9.25em; z-index:1;border-top:1em solid #fff;}
      .clock ul {list-style:none;display:block;}
      .clock ul:after {position:absolute;top:0;bottom:0;content:'';left:7%;border-left:1px solid #000;margin-left:15px}
      .clock li {height:.5em;padding-left:6%;text-align: left;position:relative;list-style:none;display:block;}
      .clock li:nth-child(4n + 1):before,
      .clock li:first-child:before {position:absolute; display:block;content:'';width:4px;height:1px;background:black;top:-1px;left:7%;margin-left:12px}
      .key-time {font-size:2em;}
      .clock li span {position:absolute;font-weight:900;display:block;width:7%;text-align:right;line-height:1.5em;height:1.5em;z-index:3;top:-.5em;margin-top:-5px;left:0;}
      .unsafe {background:rgba(180,0,0, 0.7);}
      .safe {background:rgba(0,90,0,0.7);}
      .hand {width:100%;border-top:1px solid #000;height:1px;position:absolute;top:0;}
      .hand-time {font-size:2em;position:relative;top:-1em;z-index:2;}
      .safe-time {display:block;}
      .day-off {position: absolute; overflow: hidden; clip: rect(0 0 0 0); height: 1px; width: 1px; margin: -1px; padding: 0; border: 0; }
      .button {border:0 none;position:fixed;background:transparent;display:block;outline:0;cursor:pointer;}
      .button-info {top:.5em;right:2%;z-index:3}
      .button-week {top:4em;height:6em;left:2%;z-index:3;}
      .button-week img {width:150%;height:auto}
      #nextDay {left:auto;right:2%;}
      .day-1 #previousDay {display:none}
      .day-7 #nextDay {display:none}
      .modal-overlay {position: fixed;width: 100%;height: 100%;visibility: hidden;top: 0;left: 0;z-index: 4;opacity: 0;background: rgba(0,0,0,0.6);transition: all 0.2s;filter: blur(2px);}
      .modal-on ~ .modal-overlay {opacity:1;visibility:visible}
      .modal {background:#fff;position: fixed;top: 50%;left: 50%;width: 50%;height: auto;min-height:200px;z-index: 5;visibility: hidden;transform: translateX(-50%) translateY(-50%);opacity: 0;padding:2em 3em}
      .modal h1 {font-size:1.6em;margin-bottom:1em}
      b {font-weight:900}
      .modal-on {visibility:visible;opacity: 1;}
      @media screen and (min-width:65em) {
      body {font-size:16px;}
      .button-week {padding-top:1em;}
      }
  body.day-1
  header
    div.title-bar
        h1 Cramond Island Causeway
          small Estimated safe crossing times
    button(class='button button-info', id='info', data-action='', title='About this page')
      img(src='data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0OCIgaGVpZ2h0PSI0OCIgdmlld0JveD0iMCAwIDQ4IDQ4Ij4KICAgIDxwYXRoIGQ9Ik00MCA0aC0zMmMtMi4yMSAwLTMuOTggMS43OS0zLjk4IDRsLS4wMiAzNiA4LThoMjhjMi4yMSAwIDQtMS43OSA0LTR2LTI0YzAtMi4yMS0xLjc5LTQtNC00em0tMTQgMThoLTR2LTEyaDR2MTJ6bTAgOGgtNHYtNGg0djR6IiBmaWxsPSIjZmZmIi8+CiAgICA8cGF0aCBkPSJNMCAwaDQ4djQ4aC00OHoiIGZpbGw9Im5vbmUiLz4KPC9zdmc+Cg==')
    button(class='button button-week', id='nextDay', data-action='next', title='Next Day')
      img(src='data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0OCIgaGVpZ2h0PSI0OCIgdmlld0JveD0iMCAwIDQ4IDQ4Ij4KICAgIDxwYXRoIGQ9Ik0xNy4xNyAzMi45Mmw5LjE3LTkuMTctOS4xNy05LjE3IDIuODMtMi44MyAxMiAxMi0xMiAxMnoiLz4KICAgIDxwYXRoIGQ9Ik0wLS4yNWg0OHY0OGgtNDh6IiBmaWxsPSJub25lIi8+Cjwvc3ZnPgo=')
    button(class='button button-week', id='previousDay', data-action='previous', title='Previous Day')
      img(src='data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0OCIgaGVpZ2h0PSI0OCIgdmlld0JveD0iMCAwIDQ4IDQ4Ij4KICAgIDxwYXRoIGQ9Ik0zMC44MyAzMi42N2wtOS4xNy05LjE3IDkuMTctOS4xNy0yLjgzLTIuODMtMTIgMTIgMTIgMTJ6Ii8+CiAgICA8cGF0aCBkPSJNMC0uNWg0OHY0OGgtNDh6IiBmaWxsPSJub25lIi8+Cjwvc3ZnPgo=')
  -var i = 0
  each item in days
    -i++
    div(class=(i !== 1 ? 'day day-off' : 'day day-on'))
      div.header-day
        h1 #{item.day}
        each time in item.safe
          div.safe-times #{time[0]} - #{time[1]}
      div.clock(tabindex='-1')
        div.hand
        -var n = 0, safeindex = 0
        ul
          while n < 1440
            -if (safeindex < item.safeMins.length && n >= ~~(item.safeMins[safeindex])) ++safeindex
            -var liClass = safeindex % 2 === 0 ? 'unsafe' : 'safe'
            if (n % 60) === 0
              li(class=liClass)
                -var spanClass = (Math.floor(n / 60)) % 6 === 0 ? 'key-time' : '';
                span(class=spanClass)= (Math.floor(n / 60) === 0 ? 12 : Math.floor(n / 60))
            else
              li(class=liClass)
            -n+=5
  div.modal
    h1 What is this?
    p This is a demo/proof of concept application and <b>should not be used as the sole guide for planning a trip to Cramond Island</b>. Crossing times are estimated based on the low tide times at the port of Leith. Always check the safe crossing times on the noticeboard at the causeway.
  div.modal-overlay
  script(src="./js/app.js")
